.footer {
  display: flex;
  padding: 0 100px 0 100px;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  background-color: #0d0d0e;
  padding-top: 30px;
  .menu {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    .link {
      height: 23px;
      font-size: 16px;
      text-decoration: none;
      color: #dfdcdc;
      position: relative;
      &::before {
        position: absolute;
        bottom: -1px;
        content: "";
        border-bottom: 1px solid #fff;
        left: 50%;
        width: 0%;
        transition: all 0.4s;
      }
      &:hover::before {
        width: 100%;
        left: 0%;
      }
    }
  }
  .media {
    display: flex;
    width: 300px;
    justify-content: space-around;
    .icon {
      color: #fff;
    }
  }
  .contacts {
    color: white;
    .email {
      color: gray;
    }
    .emailValue {
      color: #dfdcdc;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 800px) {
  .footer {
    .menu {
      display: none;
    }
  }
}
