.container {
  width: 100%;
  height: 190px;
  background: #000;
  text-align: center;
  .logo {
    width: 250px;
    margin-top: 30px;
    z-index: 10;
    scale: 1.1;
  }
  hr {
    position: relative;
    top: -3px;
    height: 3px;
    background-color: white;
  }
}
.navbar {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  font-weight: 100;
  .links {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    button {
      display: inline-block;
      cursor: pointer;
      background-color: #000;
      border: none;
    }
    border: none;
    cursor: pointer;

    transition: 0.5s;
    .counter {
      display: inline-block;
      color: #fff;
      font-weight: 500;
      font-size: 30px;
    }
    &:hover {
      scale: 1.2;
    }
  }
  .link {
    transition: 0.5s;
    &:hover {
      scale: 1.1;
    }
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: relative;
    &::before {
      position: absolute;
      bottom: -2px;
      content: " ";
      border-bottom: 1px solid #fff;
      left: 50%;
      width: 0%;
      transition: all 0.4s;
    }
    &:hover::before {
      width: 100%;
      left: 0%;
    }
  }
}
.cartHeader {
  cursor: pointer;
  font-size: 24px;
  margin: 30px auto 40px auto;
  padding: 20px 0px 50px 0px;
  font-weight: 200;
  border-bottom: 1px solid #b7b5b5;
}
.buttonFlex {
  margin: 0 auto 0 auto;
  display: flex;
  column-gap: 20px;
  .cartImg {
    background-color: #000;
  }
  .burger {
    background-color: #000;
    display: none;
  }
  .buttonHeader {
    background-color: #000;
  }
}
.cartContainer {
  margin: 0px 50px;
  .cartValue {
    text-align: left;
  }
  .cartPrice {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cartButton {
    background-color: black;
    color: white;
    margin: 15% 0px 20% 0px;
    padding: 3% 35% 3% 35%;
    border-radius: 30px;
    width: 100%;
    height: min-content;
  }
}

@media (max-width: 1200px) {
  .burger {
    display: block;
  }
  .logoDiv {
    display: flex;
    align-items: center;
    .logo {
      margin: 0;
    }
  }
  .container {
    display: flex;
    height: 150px;
    justify-content: space-between;
    .navbar {
      display: flex;
      .buttonFlex {
        align-self: center;
        justify-self: flex-end;
      }
    }

    .logo {
      margin-left: 30px;
      width: 300px;
    }
    .links {
      display: none;
    }
  }
  .cartContainer {
    font-size: 20px;
  }

  .cartHeader {
    font-size: 20px;
  }
  .cartButton {
    font-size: 30px;
  }
}
@media (max-width: 670px) {
  .logo {
    max-width: 100px;
  }
  .cartButton {
    font-size: 20px;
  }
}
