.container {
  margin: 40px 50px 30px 50px;
  .button {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 30px;
    font-size: 22px;
    border-radius: 20px;
    border: 2px solid #000;
    font-weight: 200;
    text-align: left;
    width: 400px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: 0.6s;
    .buttonImg {
      opacity: 0.6;
      margin-right: 15px;
      width: 20px;
      height: 20px;
      transform: rotate(90deg);
    }
    &:hover {
      background-color: #e4e2e2;
    }
  }
  .name {
    font-weight: 600px;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 25px;
  }
  .text {
    font-weight: 200;
    width: 800px;
    letter-spacing: 2px;
    line-height: 2;
  }
}
.none {
  display: none;
}
